.sideDrawer{
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-110%);
    transition: transform 0.3s ease-out;
}
.sideDrawer.open{
    transform: translateX(0);
}
.sideDrawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.sideDrawer li{
    margin-top: 1rem;
}
.sideDrawer a{
    text-decoration: none;
    color: black;
}
.sideDrawer a:hover,
.sideDrawer a:active{
    color: orange;
}
@media(min-width:500px){
    .sideDrawer{
        display: none;
    }
}